#btnEntrar {
	width: 15rem;
	border-radius: 30px;
}

#btnCadastro {
	width: 12rem;
	border-radius: 30px;
}

#main {
	background-color: #191970;
}

#divLogin {
	padding: 25px;
	height: 400px;
}

#formLogin {
	background-color: white;
	padding: 10px;
}

#divCadastroPrincipal {
	background-color: #4169E1;
}

#divCadastro {
	padding-top: 90px;
	padding-left: 30px;
}

#smallLogin {
	color: white;
}

.invisivel {
	visibility: hidden;
}